<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="Escape to Youtube Algorithm!"/>
    <link rel="stylesheet" href="/static/css/style.css">
    
    <title>Escape to Youtube Algorithm</title>
</head>
<body id="body-in">
    <header id="header-in">
        <a href="index.html">
            <h1 class="title-link-in">Escape to Youtube-Algorithm</h1>
        </a>
        <form class="search-form-in" action="get">
            <div class="search-box-in"">
                <input type="text" class="search-input-in">
            </div>
            <button type="submit" class="search-submit-in">
                <i class="fas fa-search fa-2x"></i>
            </button>
        </form>
    </header>
    <main id="main-in">
        <i class="fas fa-chevron-left"></i>
        <div class="like-channel-in">
            
        </div>
        <i class="fas fa-chevron-right"></i>
    </main>
    <nav id="side-bar-in">
        <div class="top-sidebar-in"></div>
        <div class="main-sidebar-in"></div>
        <div class="bottom-sidebar-in">
            <a href="login.html">
                <div class="sidebar-button-in">
                    <span>Log in</span>
                </div>
            </a>
            <a href="signup.html">
                <div class="sidebar-button-in">
                    <span>Sign up</span>
                </div>
            </a>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
</body>
</html>