<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Watch your youtube chanel without channel without Youtube-Algorithm">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="Escape to Youtube Algorithm!"/>
    
    <link rel="stylesheet" href="/static/css/screens/login.css">

    <title>Login - Escape to Youtube Algorithm</title>
</head>
<body>
    <header>
        <a href="index.html">Escape to Youtube Algorithm</a>
        <h1>Log in</h1>
    </header>

    <main>
        <form action="" class="login-form-lo">
            <input type="text" class="id-lo">
            <input type="password" class="pw-lo">
            <input type="submit" class="sub-lo">
        </form>
    </main>

    <footer>
        <a href="/">
            <div>
                <span>Log in with Google</span>
            </div>
        </a>
        <a href="/">
            <div>
                <span>Log in with KakaoTalk</span>
            </div>
        </a>
    </footer>
</body>
</html>