<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="Escape to Youtube Algorithm!"/>
    
    <link rel="stylesheet" href="/static/css/style.css"">
    
    <title>sign up - Escape to Youtube Algorithm</title>
</head>
<body id="body-si">
    <header id="header-si">
        <a href="index.html" class="title-si">Escape to Youtube Algorithm</a>
        <h1 class="info-si">Sign up</h1>
    </header>

    <main id="main-si">
        <form action="" class="login-form-si">
            <input type="text" class="id-si input-si" placeholder="Id">
            <input type="password" class="pw-si input-si" placeholder="Password">
            <input type="submit" class="sub-si input-si" value="Create Account">
        </form>
    </main>

    <div class="boundary-si">
        <div class="div-line-si"></div>
        <span>Or</span>
        <div class="div-line-si"></div>
    </div>

    <footer id="footer-si">
        <a href="/">
            <div class="google-si">
                <span>Sign up for Google</span>
            </div>
        </a>
        <a href="/">
            <div class="kakao-si">
                <span>Sign up for KakaoTalk</span>
            </div>
        </a>
    </footer>

    <nav id="side-bar-si">

    </nav>
</body>
</html>