<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="Escape to Youtube Algorithm!"/>
    
    <link rel="stylesheet" href="/static/css/style.css"">
    
    <title>sign up - Escape to Youtube Algorithm</title>
</head>
<body id="body-si">
    <header>
        <a href="index.html">Escape to Youtube Algorithm</a>
        <h1>Sign up</h1>
    </header>

    <main>

    </main>
    <footer>

    </footer>
    <nav id="side-bar-si">

    </nav>
</body>
</html>